body {
    background: #ffffff;
    background-image: url("../images/gplaypattern.png");
    background-size: cover;
}

.jumbotron {
    background: none;
    margin: 0;
}

h1, .h3, .h5{
    font-family: 'Major Mono Display', monospace;
}